<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  
  <Section Name="MyConfigSection">
    <Parameter Name="docdbEndPoint" Value="https://loadtestsservicefabric.documents.azure.com:443/" />
    <Parameter Name="docdbAuthKey" Value="IBNxEL8T8jsvZBTVENw5uNORLbLIM1DiyWZgD92LInDH5i8rDkrbrOfDt3gb8LyxH5lrB5D2e0qHMHzWWW2LKQ==" />
    <Parameter Name="docdbDatabase" Value="ServiceFabricTest" />
    <Parameter Name="docdbCollection" Value="Models" />
    <Parameter Name="tableStorageConnectionString" Value="DefaultEndpointsProtocol=https;AccountName=loadtestseventsourcing;AccountKey=2f/z5vxrHQM9DASJOfOtiFxngIEmbdJm/K+xAaI71nyysCSr9aMoDIVk/qV+SkEzKiuPf3UA7oXH6StYH0vjlw==;EndpointSuffix=core.windows.net" />
    <Parameter Name="tableStorageTableName" Value="eventsourcing" />
    <Parameter Name="tableStorageAuthenticationName" Value="" />
    <Parameter Name="useSoftdelete" Value="false" />
  </Section>
  
</Settings>
